[run]
omit =
    */tests/*
    */test_*.py
    */tests.py
    */migrations/*
    */conftest.py
    */__init__.py
    venv/*
    oc_lettings_site/wsgi.py
    oc_lettings_site/asgi.py

[report]
show_missing = true
